version: '3.9'

services:
    web:
        container_name: asoud_api
        build: .
        command: daphne config.asgi:application --bind 0.0.0.0 --port 8000
        restart: always
        environment:
            - DJANGO_SETTINGS_MODULE=config.settings.production
            - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,*
            - DATABASE_HOST=db2
            - DATABASE_NAME=asoud_db
            - DATABASE_USERNAME=asoud_user
            - DATABASE_PASSWORD=asoud_password_2024
            - DATABASE_PORT=5432
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - REDIS_PASSWORD=redis_password_2024
        volumes:
            - ./:/asoud/
            - static_volume:/asoud/static
            - media_volume:/asoud/media
        ports:
            - 8000:8000
        env_file:
            - ./.env
        depends_on:
            - db2
            - redis
        networks:
            - main_network

    db2:
         container_name: asoud_db2
         image: docker.arvancloud.ir/library/postgres:alpine
         restart: always
         ports:
             - 5432:5432
         environment:
            POSTGRES_DB: ${DATABASE_NAME}
            POSTGRES_USER: ${DATABASE_USERNAME}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
         networks:
             - main_network

    redis:
        container_name: asoud_redis
        image: docker.arvancloud.ir/library/redis:alpine
        ports:
            - 6379:6379
        volumes:
            - redis_data:/data
        command:
            [
                'redis-server',
                '--requirepass',
                '${REDIS_PASSWORD}',
                '--save',
                '60',
                '1',
                '--loglevel',
                'warning',
            ]
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD}
        networks:
             - main_network
    nginx:
        container_name: asoud_nginx
        image: docker.arvancloud.ir/library/nginx:alpine
        restart: always
        ports:
            - 80:80
            - 443:443
        volumes:
            # Optimized NGINX configurations
            - ./nginx/nginx-main.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - ./data/ssl:/etc/nginx/ssl:ro
            - static_volume:/asoud/static:ro
            - media_volume:/asoud/media:ro
        networks:
            - main_network
        depends_on:
            - web
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nginx-asoud.rule=Host(`api.asoud.ir`)"
            - "traefik.http.routers.nginx-asoud.entrypoints=websecure"
            - "traefik.http.routers.nginx-asoud.tls.certresolver=letsencrypt"
            - "traefik.http.services.nginx-asoud.loadbalancer.server.port=80"

volumes:
    redis_data:
    static_volume:
    media_volume:

networks:
    main_network:
