--- PAGE 1 ---
 ايجاددفتر كار:   
١٫١ مقدمه :    ياضف رد ندش هديد هب ، دوخ روما ماجنا تهج يكيزيف لحم زا شيب ، لغاشم تيرثكا يژولونكت تفرشيپ اب هزورما
مجازي ، نيازمند هستند . از اين رو ، آسود با در نظر گرفتن نياز مشاغل مختلف ، با ايجاد و در دسترس قرار دادن  اين  بستر 
  لغاشم يتح و يتامدخ لغاشم و يهاگشورف لغاشم ، اهتكرش هيلك . تسا هدومن مادقا اهنآ راك و بسك هب كمك تهج بسانم
خانگي قادر هستند با ايجاد دفتر كار مجازي و يا فروشگاه اينترنتي با كليه امكانات مورد نياز    هب روكذم لغاشم زا كيره يارب
معرفي كسب و كار و فعاليت حرفه اي خود بپردازند . 
٢٫١ نحوه ايجاد دفتر كار :  )  كاربر  ٢  ( كه به دو روش احتمالي وارد برنامه شده است )  ١  . دريافت لينك دعوت  ٢    پا زا بصن .
ماركتها (  پس از ورود به صفحه منوي اصلي و انتخاب ايكن  ايجاد  دفتر كار  به  صفحه  ثبت  دفتر كار  -    و لقتنم هياپ تاصخشم   
فرمها  توسط  وي  تكميل مي شود  ﻻزم به توضيح است كامل بودن اطﻼعات باعث معرفي بهتر كاربران  خواهد شد  .    تاعﻼطا
  هك دشاب يوحن هب دياب يتفايردشركت يا فروشگاه     .. و   اهتكرش يدنب هتسد رد تسا حيضوت هب مزﻻ . دوش يفرعم ازجم روط هب
و فروشگاه ها در دسته ها مجزا وجود دارند    ربراك) راك رتفد راشتنا و تبث زا سپ .٢     ربراك) هب (١   .دوش يم ليدبت (  
 
١٫٢٫١ تكميل مشخصات پايه به شرح ذيل :  (دشاب هتشاد دوجو ضرفشيپ، باوج لحم هنيمز رد )  
١٫١٫٢٫١ انتخاب قالب :    يتكرش بلاق تمسق نيا ردي   تسا باختنا لباق يهاگشورف ا  
٢٫١٫٢٫١ شناسه كسب و كار :    زا شيب  اب يا هملك٤     دشاب يم يسيلگنا نابز  هب  فرح  (يرابجا دليف) 
٣٫١٫٢٫١ نام كسب و كار:    دشاب يم يسراف  نابز اب رظن دروم  هاگشورف اي تكرش مان  جرد لحم  (يرابجا دليف)  
۴٫١٫٢٫١ توضيحات :    دوش  يم تبث رظن دروم تاحيضوت و يفرعم هنوگ ره تمسق نيا رد  (يرايتخا دليف)  
۵٫١٫٢٫١ دسته  بندي مشاغل :  انتخاب دسته شغلي مورد نظر از ميان ليست موجود   تروص تمسق نيا رد
ميگيرد.   ربراك ،رظن دروم لغش دوجو مدع تروص ردان   جهت ايجاد با پشت ي   عوضوم دوسآ ميت يناب
  يريگيپخواهند نمود     .)فيلد اجباري(  
 
   لقتنم يطابترا تاصخشم هحفص هب يدعب همكد قيرط زا هحفص نيا تاعﻼطا ليمكت زا دعب سپس      دهاوخ
شد . 
 
      


--- PAGE 2 ---
Page | 1 
 ٢٫٢٫١  تكميل مشخصات ارتباطي  به شرح ذيل : 
١٫٢٫٢٫١ تلفن  همراه :    تبث لحم٢    نايرتشم سامت تهج هارمه هرامش)   يارب١    هارمه هرامش  (يرابجا دليف  
٢٫٢٫٢٫١ تلفن ثابت :    تبث لحم٢    تباث هرامش  (يرايتخا دليف)  
٣٫٢٫٢٫١ فكس :   سكف هرامش تبث لحم)في  (يرايتخا دل 
۴٫٢٫٢٫١ ايميل :    ليميا تبث لحم  (يرايتخا دليف)  
۵٫٢٫٢٫١ سايت :    تياس سردآ تبث لحم  (يرايتخا دليف)  
۶٫٢٫٢٫١ آي دي اينستاگرام :    مارگ اتسنيا يد يآ تبث لحم)فيلد اختياري(     
٧٫٢٫٢٫١ آي دي تلگرام :    مارگلت يد يآ تبث لحم)فيلد اختيار ي ( 
٨٫٢٫٢٫١     يراك تعاس :  در صورت نياز به نمايش باز يا بس   يراك تعاس ياراد همكد زا  راك و بسك ندوب هت
  رد ار يراك تاعاس ناوتيم و دوش يم هداد شيامن هتفه ياهزور همكد نيا ندرك زاب اب و دوشيم دافتسا
  دقاف هك يياهزور . دومن جرد زور نآساعت كاري باشد تعطيل محسوب مي گردد   .  )   مرف رد دليف نيا
 دشاب يم كرتشم يهد تبون(    
 
 با دو دكمه )قبلي( و )بعدي( مي توان به صفحه قبل  )مشخصات پايه(  و بعد  ) مشخصات مكاني(   دش لقتنم 
 
٣٫٢٫١ تكميل مشخصات مكاني به شرح ذيل: 
١٫٣٫٢٫١ كشور:  (ناريا ضرف شيپ) رظن دروم روشك باختنا  
٢٫٣٫٢٫١ استان :   هطوبرم يوشك زا ناتسا مان باختنا  
٣٫٣٫٢٫١ شهر:    هطوبرم يوشك زا رهش باختنا  
۴٫٣٫٢٫١ آدرس فروشگاه :    هعجارم تهج لماك و يتسد تروص هب بسك لحم سردآ جرد لحم   ربراك)٢ ( 
۵٫٣٫٢٫١ كد پستي :    بسك لحم يتسپ دك تبث لحم  
۶٫٣٫٢٫١ نقشه :  با انتخاب دقيق محل كسب  ،    ربراك)٢(     هاگشورف هب نديسر يارب  باي ريسم زا هدافتسا اب
  دنوش يم ييامنهار  . 
 
   (با لمس دكمه )قبلي( به صفحه )مشخصات ارتباطيمنتقل  و  با لمس دكمه  )ثبت( ، ايجاد 
فروشگاه  نهايي مي  شود  .  پس  از    انتخاب دكمه ثبت  و ايجاد  فروشگاه  ،  يك صفحه حاوي    كي
  مايپ  اب   همكد . دوش يم زاب همكد هس   : فلا)   هك (يصخش هاگرد   ،يدعب مايپ رد هاگرد ديلك تبث اب
كليه پرداخت ها  به درگاه كاربر١  متصل مي شود  ب :  )درگاه آسود( كه    كرادم هئارا تروص رد
ﻻزم در صفحه مشخصات كاربري  )در صورت عدم ارائه به صفحه كاربري منتقل شود(     ديئات و
ادمين )تنظيمات ادمين(   ،پرداخت ها  به درگاه آسود متصل مي شود . ج( دكمه )بعدا( كه   سپ
از لمس هر كدام از آنها ،  به پيام بعدي )پرداخت حق اشتراك(  منتقل و  پس از ثبت   كد تخفيف در صورت وجود  و تكميل خريد ، 
  هب تبسن   تخادرپ   . ديامن يم مادقا كارتشا قحﻻ   تروص رد تسا حيضوت هب مز   مادك ره ماجنا مدع اي ماجنا   قوف تايلمع زابه صفحه   
ليست فروشگاه ها منتقل مي شويم.  


