
--- PAGE 1 ---
فلتخم لغاشم تهج راک رتفد و هاگشورف ، تکرش تیاهنیب داجیا ناکما ربراک ره : اه تکرش و اه هاگشورف تسیل 1.1
زا سپ . دوش یم هداد شیامن ربراک کی هدش داجیا یاهتکرش و اه هاگشورف زا یتسیل هحفص نیا رد هک دراد ار
تاعلاطا فیدر ره رد . دوشیم لیدبت 1 ربراک هب 2 ربراک )تامیظنت قیرط زا( نیمدا دیئات زا دعب و کارتشا تخادرپ
راک و بسک هسانش و داجیا خیرات ، هاگشورف تیعضو ، یلغش هتسد ، راک و بسک مان لماش راک رتفد ره هب طوبرم
دوش یم هداد شیامن
هلحرم هچ رد ناربراک راک تفرشیپ هک تسا نیا هدناشن تمسق نیا : هاگشورف ره تیعضو 1.1.1
: لماش تلااح نیا . دراد رارق دنیارف زا یا
تروص نیا ریغ رد و )هدش تخادرپ( ، کارتشا تخادرپ تروص رد تیعضو : تخادرپ 1.1.1.1
دشاب یم )هدشن تخادرپ ( ،
کارتشا تخادرپ زا لبق ات و هاگشورف هیلوا تبث زا دعب : هدشن تخادرپ ، داجیا تسد رد 1.1.1.2
دیآ یم رد )هدشن تخادرپ ، داجیا تسد رد( تلاح هب تیعضو
یتساوخرد زونه و ددرگ تخادرپ کارتشا هک یتروص رد : هدش تخادرپ ، داجیا تسد رد 1.1.1.3
دیآ یم رد تلاح نیا هب تیعضو دشاب هدیسرن نیمدا هب هاگشورف راشتنا رب ینبم
قیرط زا )دوش رشتنم( همکد باختنا اب و تخادرپ زا سپ : هدش تخادرپ ، راشتنا فص رد 1.1.1.4
ره زا سپ هاگشورف نمض رد دیآ یم رد راشتنا فص رد تلاح هب تیعضو )راشتنا( همکد
تفرگ دهاوخ رارق راشتنا فص رد ربراک طسوت شیاریو
)راشتنا مدع( همکد قیرط زا ، راشتنا زا دعب تسارداق ربراک : هدش تخادرپ ، راشتنا مدع 1.1.1.5
دیامن مادقا راشتنا تقوم فقوت هب تبسن
هب هاگشورف ) تامیظنت قیرط زا( نیمدا دیئات اب و کارتشا تخادرپ زا سپ : هدش رشتنم 1.1.1.6
.دمآ دهاوخ رد هدش رشتنم تلاح
) تامیظنت قیرط زا( نیمدا صیخشت هب ابن هک یتروص رد : هدش تخادرپ ، شیاریو هب زاین 1.1.1.7
. دیآ یم رد شیاریو هب زاین تلاح هب تیعضو دشاب هتشاد تاریییغت هب زاین هاگشورف
جراخ سرتسد زا یلک روط هب هاگشورف )لاعف ریغ( همکد سمل تروص رد : لاعف ریغ 1.1.1.8
. تفریذپ دهاوخ تروص )تامیظنت قیرط زا( نیمدا قیرط زا افرص ددجم ندش لاعف و دش دهاوخ
.ددرگ یم تیور لباق همکد 6 فیدر ره سمل اب : اه هاگشورف تسیل یاه همکد یفرعم 1.1.2
تسا تیور لباق هاگشورف یرتشم دید زا هاگشورف یامن همکد نیا قیرط زا : شیامن شیپ 1.1.2.1
.دش دهاوخ لقتنم هاگشورف یزاس یصخش یاضف هب ربراک همکد نیا قیرط زا : شیاریو 1.1.2.2
.دشاب یم ریذپ ناکما هاگشورف نیا کنیل لاسرا ناکما همکد نیا قیرط زا : یراذگ کارتشا همکد 1.1.2.3
دیامن یم لاسرا نیمدا هب ار دوخ راشتنا مدع ای و راشتنا تساوخ رد ربراک همکد نیا اب : راشتنا همکد 1.1.2.4
ددرگ یم تیاده تخادرپ هاگرد هب کارتشا تخادرپ تهج همکد نیا قیرط زا ربراک : کارتشا تخادرپ 1.1.2.5
، نآ ددجم ندز اب و دیامنیم دیئات ار سرتسد زا هاگشورف ندش جراخ تساوخرد همکد نیا اب ربراک : لاعف ریغ 1.1.2.6
. ددرگ یم لاسرا نیمدا هب یزاس لاعف تساوخرد
یم لاسرا نیمدا هب تساوخرد هک میسریم )راشتنا مدع( و )دوش رشتنم( همکد ود هب همکد نیا قیرط زا : راشتنا 1.1.2.7
دوش
لاسرا یرتشم یارب ار هاگشورف نیا کنیل افرص دوب دهاوخ رداق ربراک همکد نیا قیرط زا : یراذگ کارتشا 1.1.2.8
)تسا ریذپ ناکما هاگشورف راشتنا رب ینبم نیمدا دیئات زا دعب افرص لمع نیا هک تسا حیضوت هب مزلا( .دیامن
==================================================
